<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Municipality App</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="color: cadetblue">
            <div class="container" style="color: cadetblue">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: cadetblue">Municipality App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto" style="color: cadetblue">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="ReportIssues" style="color: cadetblue">Report Issues</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="LocalEvents" style="color: cadetblue">Local Events and Announcements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="ServiceRequests" style="color: cadetblue">Service Requests Status</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="ViewReports" style="color: cadetblue">View All Reports</a>
                        </li> *@
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <main class="container mt-4">
        @RenderBody()
    </main>

    <footer class="text-center mt-4 mb-2">
        <p>
            &copy; 2025 Municipality App |
            <a asp-area="" asp-controller="Home" asp-action="Privacy"style="color:cadetblue">Privacy</a> |
            <a href="https://youtube.com/shorts/xHEgHjJvR94?si=H6FJYCsW3Q2sk8rA" target="_blank" style="color: red">Community Safety Alert</a>
        </p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>